<h1>Update your File</h1>

<div class="edit_file">
  <%= form_for @upload do |f| %>
    <div id="section">
      <%= f.fields_for :sections do |section| %>
        <p> <%= "Section" %>: <%= section.text_field :title %> </p>
        <%= section.fields_for :keys do |key| %>
          <p> <%= "Key" %>: <%= key.text_field :title %> </p>
          <%= key.fields_for :values do |value| %>
            <p> <%= "Value" %>: <%= value.text_field :content %> </p>
          <% end %>
        <% end %>
        <hr>
      <% end %>
      <p> <%= f.submit "Update" %> </p>
    </div>
  <% end %>
</div>